{% extends "layout.html" %}
{% block title %}Forget password Page{% endblock %}
{% block content %}
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Forget password</h3>
		
		<div class="card-text">
			<form action="/forgetpassword" method="post">
				<div class="form-group">
					<label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
					<input type="email" class="form-control form-control-sm" name="email" id="email" placeholder="Enter your email address">
					<span id="error_email" class="text-danger"></span>
				</div>

				<button type="submit" id="submit" class="btn btn-primary btn-block">Send password reset email</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	$("#email").focusout(function () {
    var sEmail = $('#email').val();
    if ($.trim(sEmail).length == 0) {
        $(this).css("border-color", "#cd2d00");
        $('#submit').attr('disabled', true);
        $("#error_email").text("Please enter valid email address");
    }else{
    	$(this).css("border-color", "#2eb82e");
      $('#submit').attr('disabled', false);
      $("#error_email").text("");;
    }
  });
  $("#submit").click(function (e) {
  	if ($("#email").val() == '') {
      $("#email").css("border-color", "#FF0000");
      $('#submit').attr('disabled', true);
      $("#error_email").text("* You have to enter your Email  !");
      e.preventDefault();
	  }
	});
	</script>
{% endblock scripts %}