{% extends "layout.html" %}
{% block title %}Reset password Page{% endblock %}
{% block content %}
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Reset password</h3>
		
		<div class="card-text">
			<form action="/resetpassword" method="post">
				<div class="form-group">
					<label for="exampleInputtemporaryPassword">Temporary password*</label>
					<input type="temporaryPassword" class="form-control form-control-sm" name="temporaryPassword" id="temporaryPassword" placeholder="Enter your temporary password">
					<span id="error_temp_password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword">Enter new password*</label>
					<input type="password" class="form-control form-control-sm" name="password" id="password" placeholder="Enter new password">
					<span id="error_password" class="text-danger"></span>
				</div>

				<button type="submit" id="submit" class="btn btn-primary btn-block">Send password reset email</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}